<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- File css style-->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Compress file css Bootstrap-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Compress file JQuery -->
    <script src="/static/js/jquery-3.4.1.slim.min.js"></script>
    <!-- Compress file JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
</head>

<body class="login-body">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title-login mt-3">INICIAR SESIÓN</h3>

                        <label class="label-login label label-control" for="">Usuario</label>
                        <input class="form-control" id="form-login" type="text" name="user" placeholder="User name">
                        <label class="label-login label label-control" for="">Contraseña</label>
                        <input class="form-control" id="form-login" type="password" name="password"
                            placeholder="Password">
                        <input type="checkbox"><small class="small-login pl-2">¿Recordar?</small>
                        <div class="col text-center">
                            <input class="btn btn-warning mt-1 mr-4" type="submit" value="Iniciar sesión">
                            <input class="btn btn-secondary mt-1" type="submit" value="Cancelar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>

</html>