@font-face
{
    font-family: 'mifuente';
    src: url(/static/Resourses/fuente/Ruthligos.ttf);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.background{
    background-color: #1a1a1a;
}

#imgLogo{
    width: 5em;
}

.title-contact{
    text-align: center;
    color: #fcc533;
    text-transform: uppercase;
}

#textContact{
    color: white;
    font-size: 18px;
    padding-bottom: 3em;
}

.table-contact{
    margin: auto;
}

#linkInfo{
    color: white;
}

#infoComent{
    font-size: 0.8em;
    color: gray;
}

.contact-fb{
    background-color: white;
    margin: auto;
    display: block;
}

.fa-camera-retro
{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-globe-americas{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-at{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-facebook{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-facebook-messenger{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-whatsapp-square{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-phone-square-alt{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-map-marker-alt{
    font-size: 1.7em; 
    color: #fcc533;
}


.decoration-contact{
    border-bottom: 0.1em solid #fcc533;
    width: 45%;
    border-top: 0.1em solid #fcc533;
    margin: auto;
}

.email-info{
    font-size: 0.8em;
}

.info-comment{
    font-size: 1em !important;
}

@media (max-width: 1360px){
    .decoration-contact-up{
        margin: auto;
        border-bottom: 0.1em solid #fcc533;
        width: 45%;
    }
}

@media (max-width: 640px){
    .decoration-contact-up{
        margin: auto;
        border-bottom: 0.1em solid #fcc533;
        width: 70%;
    }
}

.login-body{
    background-image: url('/static/Resourses/Images/login/background10.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.title-login{
    color: #fcc533;
    font-size: 1.5em;
    text-align: center;
}

.label-login {
    font-size: 1em;
    color: #fff;
    font-weight: normal;
    text-shadow: #1a1a1a;
     
}

#form-login{
    background: transparent;
    border: 0px;
    border-radius: 0px;
    border-bottom: #fcc533 0.2em solid;
    margin-bottom: 1em;
    color: #fff;
    font-size: 1em;
    width: 80%;     
}

.small-login{
    font-size: 0.8em;
    color: #fff;
}

.background-logo{
    background-color: #343a40; 
}

@media (max-width: 1360px){

    #marcoTorrico{
        font-family: mifuente !important;
        color:#fcc533;
        text-align: center;
        padding-top: 2em;
        font-size: 3em;
    }
    #fotografo{
        color:#fcc533;
        text-align: center;
        font-size: 1.6em;;
    }
}

@media (max-width: 640px){
    #marcoTorrico{
        font-family: mifuente !important;
        color:#fcc533;
        text-align: center;
        font-size: 1.5em;
        padding-top: 2em;
    }
    #fotografo{
        color:#fcc533;
        text-align: center;
        font-size: 1em;;
        padding-bottom: 2em;;
    }
}

.col-fotos{
    padding: 0.5% !important;
}

.img-home{
    padding-top: 6% !important;
    padding-right: 2%;
    padding-left: 2%;;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }



