.background{
    background-color: #1a1a1a;
}

#imgLogo{
    width:100px;
}

.title-contact{
    text-align: center;
    color: #fcc533;
    text-transform: uppercase;
}

#textContact{
    color: white;
    font-size: 18px;
    padding-bottom: 3em;
}

.table-contact{
    margin: auto;
}

#linkInfo{
    color: white;
}

#infoComent{
    font-size: 0.8em;
    color: gray;
}

.contact-fb{
    background-color: white;
    margin: auto;
    display: block;
}

.fa-camera-retro
{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-globe-americas{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-at{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-facebook{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-facebook-messenger{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-whatsapp-square{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-phone-square-alt{
    font-size: 1.7em; 
    color: #fcc533;
}

.fa-map-marker-alt{
    font-size: 1.7em; 
    color: #fcc533;
}


.decoration-contact{
    border-bottom: 0.1em solid #fcc533;
    width: 45%;
    border-top: 0.1em solid #fcc533;
    margin: auto;
}

.email-info{
    font-size: 0.8em;
}

.info-comment{
    font-size: 1em !important;
}

@media (max-width: 1360px){
    .decoration-contact-up{
        margin: auto;
        border-bottom: 0.1em solid #fcc533;
        width: 45%;
    }
}

@media (max-width: 640px){
    .decoration-contact-up{
        margin: auto;
        border-bottom: 0.1em solid #fcc533;
        width: 70%;
    }
}

.login-body{
    background-image: url('/static/Resourses/Images/login/background10.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.title-login{
    color: #fcc533;
    font-size: 1.5em;
    text-align: center;
}

.label-login {
    font-size: 1em;
    color: #fff;
    font-weight: normal;
    text-shadow: #1a1a1a;
     
}

#form-login{
    background: transparent;
    border: 0px;
    border-radius: 0px;
    border-bottom: #fcc533 0.2em solid;
    margin-bottom: 1em;
    color: #fff;
    font-size: 1em;
    width: 80%;     
}

.small-login{
    font-size: 0.8em;
    color: #fff;
}


